.root {
    -fx-background-color: #1E2A38;
}


.top-bar {
    -fx-background-color:  #1E2A38;
    //-fx-background-radius: 20;
    //-fx-padding:  24;
}


.title {
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-text-fill: #9FB3C8;
    -fx-font-size: 14px;
}


.sidebar-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #CFE6FF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 16 10 44;
    -fx-background-radius: 12;
}

.sidebar-btn:hover {
    -fx-background-color: rgba(255,255,255,0.08);
}

/* Sidebar vertical divider */
.sidebar-divider {
    -fx-background-color: rgba(255, 255, 255, 0.08);
}


.sidebar-btn:selected,
.sidebar-btn:focused {
    -fx-background-color: rgba(0, 255, 120, 0.15);
}


.header {
    -fx-background-color: #263444;
    -fx-padding: 20;
    -fx-pref-height: 60;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.1, 0, 2);
}

.card {
    -fx-background-color: #263444;
    -fx-padding: 20;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 12, 0.1, 0, 3);
}

.card-title {
    -fx-font-size: 16;
    -fx-text-fill: #B0C4DE;
}

.card-value {
    -fx-font-size: 26;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.sidebar {
    -fx-background-color: #1E2A38;
    //-fx-background-radius: 16;
/*    -fx-padding: 14;*/

    //-fx-effect: dropshadow(
/*        gaussian,
        rgba(0,0,0,0.4),
        15,
        0.2,
        4,
        0
    );*/
}

.combo-box .list-cell {
    -fx-text-fill: white;
}


<Pane
    layoutX="225"
    layoutY="14"
    prefWidth="1"
    prefHeight="740"
    styleClass="sidebar-divider"/>

    
    
    